<div style="padding: 20px;">
    <h1 style="color: blue;">SIGP</h1>
    <h3>Gestión de Camas</h3>
      <nav>
        <a routerlink="/cama" class="btn btn-primary active" role="button" routerlinkactive="active">Camas</a>
        <a routerlink="/add" class="btn btn-primary active" role="button" routerlinkactive="active">Add</a>
        <a routerlink="/findbycodigo" class="btn btn-primary active" role="button" routerlinkactive="active">Search</a>
      </nav>
      <router-outlet></router-outlet>
    </div>